@CHARSET "UTF-8";
#allDiv{
	width: 1024px;
	margin-top:100px;
}
.border{
	padding-top:0px;
	display:inline-block;
	/* border:1px solid lightgray;  */
}
.friendResultTable{
	width:710px;
		display:inline-block;
	padding:10px;
	border:1px solid lightgray;
}
.friendResultTr{
	width:710px;
	
	/* border:1px solid gray; */
}

.mypageResultTable{
	width:710px;
	padding:10px;
	display:inline-block;
	border:1px solid lightgray;
}
.mypageResultTr{
	width:710px;
/* 	border:1px solid gray; */
}

.resultTd{
	 width:225px; 
	/* width:24.5%; */
	float:left;
	display:inline;
	/* border:1px solid red; */
}




/*ㅇㄴㄹㄴㅇㄹㅇㄴㄹㄴㅇㄹ추가한거당ㅇㄹㄴㅇㄹㄴㅇㄹㄴㅇㄹ*/
#resultTable{   
   width:455px;
}

li{
	list-style-type:none;
}
.mymenus{
	font-family: "고딕";
	font-size:20px;
	font-style:bold;
	text-align:center;
	color:gray;
	text-decoration:none;
}
.mymenus:hover{
	color:red;
	text-decoration:none;
}

#mymenu{
	background-color:white;
	padding:10px;
	border:1px solid LightGray;
	width:150px;
	position:absolute;
	top:120px;
	right:50px;
}

/*추가된 부분(장영은)*/
#myFriendsDiv{
	margin-left:200px;
	width:710px;
	/* border:1px solid black; */
}
#allTable td{
	vertical-align:top;
}

.friendResultTable, .mypageResultTable, #groupResultTable{
	margin-top:30px;
	padding-top:10px;
}

caption{
	text-align:left;
	font-weight:bold;
	margin-top:0px;
	margin-bottom:12px;
}
.friendResultTable td, .mypageResultTable td, #groupResultTable td{
	padding:5px 15px;
}
.nameB{
	color:black;
	padding-top:8px;
	font-size:17px;
}
.profileM{
	width:70px;
	height:70px;
}
.friendTb{
	width:98%;
	display:inline;
	margin-left:23px;
	/* border:1px solid blue; */		
}

.btnTd button{
	 padding-left:8px; 
	 padding-right:8px;
	/* margin-left:3px; */
	/*  border:1px solid blue; */
}

.friendTb td{
	text-align:center;
	padding:0px 7px;
	/* border:1px solid blue; */
}


.friendTb tr td ul.sub-wrapper 
{ 
	display: none; 
	margin-top: -10px;
	margin-left: 2px;
	padding: 0; 
	position: absolute; 
	border: 1px solid #eaeaea; 
	background: #FFF;  
	padding: 10px 15px; 
	z-index: 50;
}
.friendTb tr td ul.sub-wrapper li { 
	display: block; 
}
.friendTb tr td ul.sub-wrapper a {
	font-family: NanumGothic; 
	font-size: 15px; 
	line-height: 34px; 
	color: #000;
}
.btnTd{
	width:100px;
}



#joinCaption{
	font-size:15px;
	font-family:"휴먼모음T";
	background:#F2F2F2;
	border:1px solid lightblue;
	border-bottom:0px;
}
#joinDiv{
	margin-left:20px;
	margin-top:20px;
	width:350px;
	height:349px;
}
#joinTable{
	background-color:#F2F2F2;
	border:1px solid lightblue; 
	border-top:0px;
}
#bottomSearchTd{
	text-align:center;
}
form{
	margin:0;
}
#joinTable td{
	padding:7px;
}
#email{
	width:100px;
}
#phoneNum1, #phoneNum2, #phoneNum3{
	width:50px;
}
#year, #month, #day{
	width:50px;
}