<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Final</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>postServlet</servlet-name>
    <servlet-class>servlet.PostServlet</servlet-class>
    <multipart-config>
      <location></location>
      <file-size-threshold>1</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>postServlet</servlet-name>
    <url-pattern>/home</url-pattern>
    <url-pattern>/writePost</url-pattern>
    <url-pattern>/deletePost</url-pattern>
    <url-pattern>/writeComment</url-pattern>
    <url-pattern>/deleteComment</url-pattern>
    <url-pattern>/myPost</url-pattern>
    <url-pattern>/recommendPost</url-pattern>
    <url-pattern>/modifyPost</url-pattern>
    <url-pattern>/filterPost</url-pattern>
    <url-pattern>/searchMyPost</url-pattern>
    <url-pattern>/searchMyPostByDate</url-pattern>
    <url-pattern>/showUserPost</url-pattern>
    <url-pattern>/writeGuestPost</url-pattern>
    <url-pattern>/showMyPagePost</url-pattern>
    <url-pattern>/writeMyPagePost</url-pattern>
    <url-pattern>/goPost</url-pattern>
  </servlet-mapping>
</web-app>